:root {
    --box-color: #d49c6b;
    --robot-blue: #252b31;
    --robot-gray: #5e6668;
    --robot-lightgray: #c1c8c7;
    --text-white: #f6fafb;
    --true-box: #92623a;
}

* {
    background-color: var(--robot-lightgray);
}

header {
    text-align: center;
    color: var(--robot-blue);
}

.title {

}

.meter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.meter {
    border: 2px solid black;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

.meter#battery {
    background-color: #5BC236;
}

.meter#stimulation {
    background-color: lightskyblue;
}

.meter#modifications {
    background-color: var(--box-color);
}

.robot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

/* 
    3. create brown box and robot-head objects
    - in .box class, create a rectangle with a brownish box color - done
    - in robot-head class, insert pic of robot head - done

*/
.current-form {
    margin: 10px;
}

.box {
    background-color: var(--true-box);
    color: var(--true-box);
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.robot-head {
    content: url('https://preview.free3d.com/img/2014/09/2201641284240672407/ai8qyrd9-900.jpg');
    width: 100px;
    height: 100px;
    margin: 10px;
}

.robot-body {
    
}

.robot-full {
    
}

.age {
    margin: 10px;
}

.open-package {
    margin: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.button {
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

.button#change-batteries {
    background-color: #5BC236;
}

.button#moderate-internet {
    background-color: lightskyblue;
}

.button#attach-parts {
    background-color: var(--box-color);
}

.visible {
    visibility: hidden;
} 

.invisible {
    visibility: visible;
}