:root {
    --box-color: #d49c6b;
    --robot-blue: #242e37;
    --robot-gray: #5e6668;
    --robot-lightgray: #c1c8c7;
    --text-white: #f6fafb;
    --true-box: #92623a;
}

* {
    background-color: var(--robot-lightgray);
}

header {
    text-align: center;
    color: var(--robot-blue);
}

p {
    color: var(--robot-blue);
    text-align: center;
}

.typed-sentence {
    display: none;
}

.typewriter {
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


.instructions {
    margin: 10px;
    border-radius: 8px;
    background-color: lightskyblue;
}

.title {

}

.meter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.meter {
    border: 2px solid black;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

.meter#battery {
    background-color: #5BC236;
}

.meter#stimulation {
    background-color: lightskyblue;
}

.meter#modifications {
    background-color: var(--box-color);
}

.robot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

/* 
    3. create brown box and robot-head objects
    - in .box class, create a rectangle with a brownish box color - done
    - in robot-head class, insert pic of robot head - done

*/
.current-form {
    margin: 10px;
}

.robot {
    background-color: var(--true-box);
    color: var(--true-box);
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}

.robot-head {
    content: url('https://preview.free3d.com/img/2014/09/2201641284240672407/ai8qyrd9-900.jpg');
    width: 100px;
    height: 100px;
    margin: 10px;
}

.robot-body {
    content: url('https://image.shutterstock.com/image-illustration/faceless-robotic-torso-visible-connections-260nw-1466376647.jpg');
}

.robot-full {
    content: url('https://st3.depositphotos.com/10325516/16272/i/1600/depositphotos_162724054-stock-photo-robot-full-body.jpg');
}

.robot-final {
    content: url('https://ichef.bbci.co.uk/news/976/cpsprodpb/A58C/production/_97508324_robowar.jpg');
}

.age {
    margin: 10px;
}

.open-package {
    margin: 10px;
    border-radius: 8px;
    background-color: lightskyblue;
}

.name-container {
    display: flex;
    flex-direction: row;
}

.name {
    margin: 10px;
}

.name-styling {
    border-radius: 8px;
    background-color: #5BC236;
}

.name-button {
    margin: 10px;
    background-color: lightskyblue;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.button {
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

.button#change-batteries {
    background-color: #5BC236;
}

.button#moderate-internet {
    background-color: lightskyblue;
}

.button#attach-parts {
    background-color: var(--box-color);
}

.visible {
    visibility: hidden;
} 

.invisible {
    visibility: visible;
}

.name-visible {
    display: flex;
    visibility: hidden;
}

.disappear {
    display: flex;
}